nav img {
    width: 70px;
    height: 70px;
}

.list {
    width: 100%;
}

.nav-item {
    font-size: 28px;
    border-bottom: 1px solid black;
}

.nav-item:first-of-type {
    border-top: 1px solid #000;
}

.nav-item:last-of-type {
    border-bottom: none;
}

.product {
    margin-bottom: 15px;
}

.product .card img {
    height: 55%;
}

@media (min-width: 768px) {
    .container-fluid.home {
        border: none;
        height: 90vh;
    }

    .list {
        background-color: transparent;
    }


    .nav-item {
        margin-right: 5px;
        border: none;
    }

    .nav-item:first-of-type {
        border-top: none;
    }
}

@media (min-width: 992px) {
    .nav-item {
        font-size: 30px;
        margin-right: 35px;
    }
}

@media (min-width: 1200px) {
    #nav-link {
        font-size: 35px;
        margin-right: 35px;
    }
}